:root {
    --gris: #C2C2C2;
    --rojo: #E70202;
    --blanco: #ffffff;
    --beige: #aba58a;
   }
a{
    color: inherit;    
}
a:hover{
    color: inherit;
}
.rows{
    margin-top:63px;
}
.header-div{
    justify-content: space-between !important;
}

.container-fluid .container article .boton-agregar{
    background-color: var(--rojo);
    color: white;
    margin-bottom: 0.5em;
}
.cartel{
    font-size: 1rem;
    background-color: #e70202;
    border-radius: 37px;
}
.table tbody{
    background-color:var(--gris);
}
.table td{
    background-color: #ffffff;
}
.table thead tr th {
    font: 1.2em sans-serif;
    color: var(--blanco);
}
.table tr{
    background-color: #aba58a;   
       
}
.table tbody tr td .btn-table{
    border: 0;
    background-color: inherit;
    color:rgb(41, 96, 248);
}
.table tbody tr td .btn-table:hover{
    color: rgb(28, 6, 128);
}
.btm{
    background-color: #e70202;
    color: white;
    border-radius: 1rem;
    width: 6rem;
    text-align: center;
margin-bottom: 3px;
}




@media(min-width: 768px){
    .hd{
        height: 96px;
    }
    .login{
        padding-left: 35%;
    }
    .rows{
        margin-top:102px;
    }
    .cartel{
        font-size: 2rem;
        background-color: #e70202;
    }
}
@media(min-width: 992px){
    .hd{
        height: 96px;
    }
    
    .cartel{
        font-size: 3rem;
        background-color: #e70202;
    }
}