@import url(./master.css);

/* Variables */
:root {
    --gris: #C2C2C2;
    --rojo: #E70202;
    --blanco: #ffffff;
    --beige: #aba58a;
   }

.rows{
    margin-top:63px;
}
.cartel{
    font-size: 1rem;
    background-color: #e70202;
    border-radius: 37px;
}
.formu{
    width:95%;
    background-color: white;
    opacity: 0.8;

}

.formulario{
    display: flex;
margin-top: 1%;
justify-content: center;

}
.nav2{
    height: 39px !important;
}
.input-group{
    width: 99%;
    margin: 3px;
}
.input-group-text{
    width: 6rem;
    height:-1.8rem !important;
}



@media(min-width: 768px){
    .rows{
        margin-top:102px;
    } 
    .cartel{
        font-size: 2rem;
        background-color: #e70202;
    }
}
@media(min-width: 992px){
    .formu{
        width: 88vh;background-color: g;
    }
    
    .cartel{
        font-size: 2.5rem;
        background-color: #e70202;
    }
}
