:root {
    --gris: #C2C2C2;
    --rojo: #E70202;
    --blanco: #ffffff;
    --beige: #aba58a;
   }

.header-div{
    justify-content: space-between !important;
}
.solapas{
    /* background-color: white; */
    margin-top: 9vh;
    padding-left: 2px;
    padding-right: 2px;
}
.titulo{
    background-color: #E70202;
    color: var(--blanco);
    font-size: 40px;
    width: 84vw;
    text-align: center;
    border-radius: 27px;
    margin-inline-start: 9vw;
}

.formulario{
    display: flex;
margin-top: 1%;
justify-content: center;

}
.formu{
    background-color:#ffffff;
}

/* Precio */
.flex-container{
    display: flex;
    width: 99%;
    margin: 2px;     
}
h5{
    margin-left: 2%;
}
h6{
    font-size: 12px;
    margin-right: 11px;
}
.input-group{
    width: 99%;
    margin: 3px;
}
.input-group-text{
    width: 6rem;
    height:-1.8rem !important;
}


.form-control{
    height: 38px !important;
}
.btm{
    background-color: #e70202;
    color: white;
    border-radius: 1rem;
    width: 6rem;
    text-align: center;
}

/* <!-- Aca empieza el paso 2 --> */
.texth4{
    text-align: left;
    padding-left:  20px;
}
.figure-portada{
    width: 100%;
}
.foto{
    padding: 3%;
    width: 50%;
    
}

#descripcion{
    padding-left: 30px;

}

.botonImg{
    background-color: var(--rojo);
    color: var(--blanco);
    width: 100%;
}
.texta{
    background-color: var(--gris);
    opacity: 0.8;
}

@media(min-width:768px){
    #descripcion, #especificaciones{
        width: 94vw;
    }

.solapas{
    /* background-color: white; */
    margin-top: 7vh;
 
}
.titulo{
    margin-top: 14vh;
}
}
/* desctop */
@media(min-width:992px){
.solapas{
        margin-top: 14vh;
    }
    .titulo{
        margin-top: 12vh;
        width: 80vw;
    }
    .figure-portada{
        width: 50%;
    }

.large-textarea textarea {
    font-family: Courier, sans-serif,;
    height: 10em;
    width: 500px;
 }
}