.containerpass {
    background-image: url("/asset/img/password/password.jpeg");
    display: flex;
    height: 80vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.box{
    color: white;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    box-shadow:  rgba(0,0,0,.5);
    border-radius: 12px;
}

.containerpass .box h2{
    margin: 0, 0, 30px;
    padding: 0;
    color: white;
    text-align: center;

}
.containerpass .box .inputBox{
    position: relative;
}

.containerpass .box .inputBox input{
    width: 100%;
    border-radius: 5px;
    background: transparent;
    border: 1px solid white;
    color: white;
   

}

.containerpass .box input[type="submit"]{
    background: transparent;
    border: none;
    color: white;
    background:red ;
    padding: 20px, 30px;
    border-radius: 5px;
    width: 80px;
    right: 30px;
}

.subtexto{
    margin-top: 60px;
}


