<footer class="w-100">
    <div class="footer-div w-100" id="footer-div">
        <a href="http://facebook.com" class="a-circle-link"><i class="fab fa-facebook"></i></a>
        <a href="http://instagram.com" class="a-circle-link"><i class="fab fa-instagram"></i></a>
        <a href="http://twitter.com" class="a-circle-link"><i class="fab fa-twitter"></i></a>
    </div>
</footer>