<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font awesome cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--Logo en el title de la página-->
    <link rel="icon" type="image/png" href="/asset/img/title-page/title-logo.png"/>
    <!--Master Stylesheet-->
    <link rel="stylesheet" href="/css/master.css">
    <title>Moto Style</title>
</head>