<header class="container-fluid" id="header">
    <div class="row justify-content-between justify-content-lg-start align-items-lg-center header-div">
        <!--Logo home-->
        <figure class="col-5 col-md-4 col-lg-2 ">
            <a href="/" class="a-header-logo">
                <img src="/asset/img/header/ms-logo.png" alt="Logo Moto Style">
            </a>
        </figure>                
        <!--Login -->
        <ul class="col-4 col-md-6 col-lg-3 d-flex align-items-center justify-content-center justify-content-lg-end">
            <li class="col-6">
                <a class="d-flex align-items-center" href="#login-modal" data-toggle="modal"><span class="a-circle-link"><img src="/asset/img/header/icono-login.png" alt="Login"></span><span class="d-none d-md-block text">Login</span></a>
            </li>
        </ul>
    </div>
</header>