<nav id="navbar-lateral" class="navbar-lateral d-flex">
    <div>
        <ul id="primer-menu" class="primer-menu">
            <li><a href="/"><span>Home</span></a></li>
            <li><a href="/products"><span>Nuestras<br>Motos</span></a></li>                    
            <li><a href="https://www.google.com/search?source=hp&ei=qon-Xu-0NvzC5OUP34OxUA&q=noticias+motos+gran+turismo&oq=noticias+motos+gran+tu&gs_lcp=CgZwc3ktYWIQAxgAMggIIRAWEB0QHjIICCEQFhAdEB4yCAghEBYQHRAeMggIIRAWEB0QHjIICCEQFhAdEB4yCAghEBYQHRAeMggIIRAWEB0QHjIICCEQFhAdEB4yCAghEBYQHRAeMggIIRAWEB0QHjoCCAA6BQgAELEDOgUIABCDAToCCC46BggAEBYQHjoICAAQFhAKEB46BQghEKABUM4OWM43YKpCaAFwAHgAgAGAAYgBkgySAQQyMC4ymAEAoAEBqgEHZ3dzLXdperABAA&sclient=psy-ab" target="_blank"><span>Noticias</span></a></li>
            <li><a href="https://www.google.com/search?ei=tIn-XtZE08Lk5Q_AuqmYBg&q=eventos+motos+gran+turismo&oq=eventos+motos+gran+turismo&gs_lcp=CgZwc3ktYWIQAzoECAAQRzoECAAQDToICAAQCBAHEB46BggAEA0QHjoICAAQCBANEB46CggAEAgQDRAKEB5QyIQBWI2vAWDusAFoA3AEeACAAVeIAcQGkgECMTGYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab&ved=0ahUKEwjW7ruF96_qAhVTIbkGHUBdCmMQ4dUDCAs&uact=5" target="_blank"><span>Eventos</span></a></li>
            <li><a href="/nosotros"><span>Nosotros</span></a></li>
            <li><a href="/sucursales"><span>Sucursales</span></a></li>
            <li><a href="/contacto"><span>Contacto</span></a></li>
            <% if(user.profile > 1){ %> 
            <li><a href="/administrar"><span>Administrar</span></a></li>
            <%}%>
        </ul>
        <div class="align-self-center d-lg-none">
            <input class="d-none" type="checkbox" name="boton" id="boton" >
            <label for="boton" class="navbar-collapse-button d-flex align-items-center rounded-right">
                <i class="fas fa-caret-right"></i>
            </label>
        </div>
    </div>            
</nav> 