<div id="searchbar" class="search-bar-back rounded-pill d-lg-none">
    <div class="search-bar">
        <form action="/products/search_results" method="GET" class="search-form d-flex">
            <input class="search-input rounded-pill" type="search" name="search" placeholder="Buscá tu próxima moto..">
            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div> 